/* -------Importando fontes do Google fonts------ */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* resetando o documento  */
html{
    min-height: 100%;
    overflow: hidden;
}

body{
    height: calc(100vh - 8em);
    padding: 4em;
    color: #353434;
    font-family: 'Anonymous Pro', monospace;
    font-size: 15pt;
    background-color: #f87b15;
}

.linha{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid #353434;
    font-size: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translate(-50%);
}

/*  configurando a animação  */

.efeito-digitacao{
    animation: maquinaDeEscrever 4s steps(40) 1s normal both,
    cursorDeTexto 500ms steps(40) infinite normal;
    animation-iteration-count: infinite;

     /* Adicione caso queira que fique repetindo:
        animation-iteration-count: infinite;
        */  
}

@keyframes maquinaDeEscrever{
    from {
        width: 0;
    }
    to {
        /* Aumente esse valor conforme a quantidade de caracteres
        do texto para todo ele aparecer no efeito  */
        width: 30em;
    }
}

@keyframes cursorDeTexto {
    from {
        border-right-color: #353434;
    }
    to {
        border-right-color: transparent;
    }
}